*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
div{

    background-color: #FFFFFF;

}
img{
    border-radius: 10px;
    width:  97%;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
body{
    background:#EAEAEA);
    font-family: 'Roboto Serif', sans-serif;
    margin-top: 20px;
    margin-bottom: 80px;
    margin:80px;
}
h1, h2{
    color: rgb(230, 160, 70);
    text-align: center;
    border: 100px;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
    line-height: 26px;
}
ul, ol{
    font-size: 16px;
    line-height: 40px;
    list-style-position: inside;
    color: #39393A;
}
figcaption, p{
    color: #8F8F8F;
    font-size: 12px;
}
figcaption{
    text-align: center;
}